extends layout

block content
  h1 Features
  br
  p.lead.check 1. Trivial   
    b integration 
    | with GD
  p.lead.check 2. Smart       
    b parsing 
    | to JSON
  p.lead.check 3. Data updated in 
    b real-time
  p.lead.check 4. 
    b Programmatic 
    | access (GraphQL).
  p.lead.check 5. 
    b Interactive 
    | query editor
  p.lead.check 6. Data
    b  preview
    |, stats and examples 
