extends layout

block content
  h1 DriveQL
  p.lead Upload your files to GDrive, have them available with a useful API
  hr
  .row
    if !user
      | Login to see your files
    else
      a.button(href='/api/files') Go to your files
