extends layout

block content
  h1 DropQL
  p.lead Upload your files to GDrive, have them available with a useful API
  hr
  .row
    if !user
      form.form-horizontal(method='POST')
        .form-group
          .col-sm-offset-3.col-sm-7
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fa.fa-google-plus
              | Sign in with Google
    else
      a.button(href='/api/files') Go to your files
