extends ../layout

block content
  h3
    i.fa.fa-group
    |  Synced
  .row
    for file in apiFiles
      .col-xs-3.col-md-2
        a.thumbnail(href='/api/file/#{file.id}')
          img(src='#{file.thumbnailLink}')
          | #{file.title}
        a(href='/api/unsync/#{file.id}')
          | unsync
